<!doctype html>
<html>
<head>
    <title>{{bot_friedly_name}}</title>
    <link rel="stylesheet" type="text/css" href="/s/style.css"/>
    <link rel="icon" type="image/gif" href="/s/favicon.gif"/>

    <meta property="og:title" content="{{bot_friendly_name}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An imageboard powered by a Telegram Bot.">
    <meta name="description" content="An imageboard powered by a Telegram Bot.">
</head>
<body>
<div class="return">{{bot_friendly_name}}</div>

<div class="wrapper">
    <div class="medium">
        <form action="/login" method="post">
            <label for="token">Token:</label>
            <input type="text" maxlength="36" minlength="36" size="36" name="token">
            <input type="submit" value="Login">
        </form>
    </div>
</div>

<div class="panel info">
    <div>
        Login:
        <ol>
            <li>You will need a verified account for this bot.</li>
            <li>To create an account send <span class="command">/start</span> to <a
                    href="https://telegram.me/{{bot_username}}" target="_blank">the Bot.</a></li>
            <li>If the account is verified send <span class="command">/token</span> to <a
                    href="https://telegram.me/{{bot_username}}" target="_blank">the Bot.</a></li>
            <li>Paste the token here. Duh.</li>
        </ol>

    </div>

</div>

</body>
</html>
